body {
    font-family: Arial, sans-serif;
    background-color: #f0f3f8;
    background: linear-gradient(135deg, #8bf4c3, #6cf247);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.weather-container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
}

.city-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.current-weather, .temperature, .expected-temperature {
    font-size: 18px;
    margin: 10px 0;
}

.search-container {
    text-align: center;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#cityInput {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 200px;
}

#submit {
    background-color: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

#submit:hover {
    background-color: #4aaf4a;
}
